@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oio1gb');
  src:  url('fonts/icomoon.eot?oio1gb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oio1gb') format('truetype'),
    url('fonts/icomoon.woff?oio1gb') format('woff'),
    url('fonts/icomoon.svg?oio1gb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location-arrow:before {
  content: "\f124";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-thermometer:before {
  content: "\f2c7";
}
.icon-thermometer-4:before {
  content: "\f2c7";
}
.icon-thermometer-full:before {
  content: "\f2c7";
}
.icon-thermometer-0:before {
  content: "\f2cb";
}
.icon-thermometer-empty:before {
  content: "\f2cb";
}

